/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/encodings.xml
/Gateway/Gateway.iml
/Gateway/target/classes/com/amdaris/mentoring/gateway/GatewayApplication.class
/Gateway/target/classes/application.properties
